{extend name="zzz/zzz" /}
{block name='main'}

<main id="body">
    <div class="container">





        <div class="btn-group mb-3 d-lg-none" role="group" id="my_mobile_nav">


            <a role="button" class="btn btn-secondary active" data-active="menu-my" href="">个人资料</a>



            <a role="button" class="btn btn-secondary" data-active="menu-my-thread" href="">论坛帖子</a>


        </div>

        <div class="row">
            <!-- 左侧菜单 -->
            <div class="col-lg-2 hidden-md hidden-sm" id="my_aside">
                <div class="card">
                    <div class="card-body text-center">

                        {if $list->avatar}
                        <img src="/{$list->avatar}" alt="">
                        {else/}
                        <img class="avatar-4"  src="/static/image/lz.jpg">
                        {/if}
                        <br>{$list->nickname}
                    </div>
                    <div class="list-group list-group-flush text-center">

                        <a href="" class="list-group-item list-group-item-action active" data-active="menu-my">个人资料</a>



                        <a href="" class="list-group-item list-group-item-action" data-active="menu-my-thread">论坛帖子</a>


                    </div>
                </div>
            </div>
            <!-- 右侧内容 -->
            <div class="col-lg-10" id="my_main">

                <div class="card">
                    <div class="card-header">


                        <ul class="nav nav-tabs card-header-tabs">



                            <li class="nav-item">
                                <a class="nav-link " href="{:url('index/People/updateDate',['id'=>$list->id])}" data-active="my-profile">基本资料</a>
                            </li>



                            <li class="nav-item">
                                <a class="nav-link active" href="" data-active="my-password">密码</a>
                            </li>



                            <li class="nav-item">
                                <a class="nav-link" href="{:url('index/People/uploadPicture',['id'=>$list->id])}" data-active="my-avatar">头像</a>
                            </li>



                        </ul>


                    </div>
                    <div class="card-body">


                        <div class="col-lg-6 mx-auto">
                            <form action="" method="post" id="form">
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-lock"></i></span>
                                    </div>
                                    <input type="password" class="form-control" id="password_old" name="password_old" placeholder="旧密码" required="">
                                    <div class="invalid-feedback"></div>
                                </div>

                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-lock"></i></span>
                                    </div>
                                    <input type="password" class="form-control" id="password_new" name="password_new" placeholder="新密码" required="">
                                    <div class="invalid-feedback"></div>
                                </div>

                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-lock"></i></span>
                                    </div>
                                    <input type="password" class="form-control" id="password_new_repeat" name="password_new_repeat" placeholder="重复新密码" required="">
                                    <div class="invalid-feedback"></div>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-primary btn-block" id="submit" data-loading-text="正在提交...">修改密码</button>
                                </div>
                            </form>
                        </div>


                    </div>
                </div>

            </div>
        </div>






    </div>
</main>
{/block}
