{extend name='zzz/zzz' /}
{block name='main'}

<main id="body">
    <div class="container">





        <div class="btn-group mb-3 d-lg-none" role="group" id="my_mobile_nav">


            <a role="button" class="btn btn-secondary active" data-active="menu-my" href="my.htm">个人资料</a>



            <a role="button" class="btn btn-secondary" data-active="menu-my-thread" href="my-thread.htm">论坛帖子</a>


        </div>

        <div class="row">
            <!-- 左侧菜单 -->
            <div class="col-lg-2 hidden-md hidden-sm" id="my_aside">
                <div class="card">
                    <div class="card-body text-center">
                        {if $list->avatar}
                        <img src="/{$list->avatar}" alt="">
                        {else/}
                        <img class="avatar-4"  src="/static/image/lz.jpg">
                        {/if}
                        <br>{$list->nickname}
                    </div>
                    <div class="list-group list-group-flush text-center">

                        <a href="my.htm" class="list-group-item list-group-item-action active" data-active="menu-my">个人资料</a>



                        <a href="my-thread.htm" class="list-group-item list-group-item-action" data-active="menu-my-thread">论坛帖子</a>


                    </div>
                </div>
            </div>
            <!-- 右侧内容 -->
            <div class="col-lg-10" id="my_main">

                <div class="card">
                    <div class="card-header">


                        <ul class="nav nav-tabs card-header-tabs">



                            <li class="nav-item">
                                <a class="nav-link " href="{:url('index/People/updateDate',['id'=>$list->id])}" data-active="my-profile">基本资料</a>
                            </li>



                            <li class="nav-item">
                                <a class="nav-link" href="{:url('index/People/updatePassword',['id'=>$list->id])}" data-active="my-password">密码</a>
                            </li>



                            <li class="nav-item">
                                <a class="nav-link active" href="" data-active="my-avatar">头像</a>
                            </li>



                        </ul>


                    </div>
                    <div class="card-body">


                        <div class="col-lg-6 mx-auto">
                            <div class="form-group text-center">
                                {if $list->avatar}
                                <img src="/{$list->avatar}" alt="" id="avatar_img" class="logo-4">
                                {else/}
                                <img class="avatar-4" src="/static/image/lz.jpg">
                                {/if}


                            </div>
                                <div class="form-group text-center">
                                    <label class="form-group text-center"  id="picker">点击更换头像</label>
                                </div>






                    </div>
                </div>

            </div>
        </div>






    </div>
</main>

{/block}
{block name='css'}
<link href="/static/ui/library/webuploader/webuploader.css" type="text/css" rel="stylesheet">
{/block}

{block name='script'}
<script src="/static/ui/library/webuploader/webuploader.js"></script>
<script>
    var uploader = WebUploader.create({

        // 选完文件后，是否自动上传。
        auto: true,

        // swf文件路径
        swf: '/static/ui/library/webuploader/Uploader.swf',

        // 文件接收服务端。
        server: '{:url("index/People/touxiang",['id'=>$list->id])}',

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#picker',

        // 只允许选择图片文件。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }
    });
    //上传成功
    uploader.on('uploadSuccess',function (file, res) {
        if (res.code){
            alert(res.msg);
            location.replace(location);


        }else {
            layer.alert('上传错误');
        }
    })

</script>
{/block}