{extend name="zzz/zzz" /}
{block name='main'}

<main id="body">
    <div class="container">


        <div class="row">
            <div class="col-lg-9 main">

                <div class="card card-threadlist">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link " href="index.html">最新</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  active" href="">精华</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled threadlist mb-0">




                            <li>
                                <div>无</div>
                            </li>


                        </ul>
                    </div>
                </div>



                <nav class="my-3"><ul class="pagination justify-content-center flex-wrap"></ul></nav>

            </div>
            <div class="col-lg-3 d-none d-lg-block aside">
                <a role="button" class="btn btn-primary btn-block mb-3" href="{:url('index/Article/add')}">发布新主题</a>

                <div class="card card-site-info">

                    <div class="m-3">
                        <h5 class="text-center">编程·学不停</h5>
                        <div class="small line-height-3">想起那年夕阳下的奔跑！那是我逝去的青春！</div>
                    </div>
                    <div class="card-footer p-2">
                        <table class="w-100 small">
                            <tbody>
                            <tr align="center">
                                <td>
                                    <span class="text-muted">主题数</span><br>
                                    <b>无</b>
                                </td>
                                <td>
                                    <span class="text-muted">本站总帖子数</span><br>
                                    <b>无</b>
                                </td>
                                <!--<td>
                                    <span class="text-muted">用户数</span><br>
                                    <b>54</b>
                                </td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="form-group">
                    <form action="/index/Index/search.html" method="post">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="关键词" name="wd">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">搜索</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card">
                    <div class="card-header">
                        小黑板
                    </div>
                    <div class="card-footer">
                        <span>我爱学习<br>学习使我快乐</span>
                    </div>
                </div>

                <div class="card friendlink">
                    <div class="card-header">友情链接</div>
                    <div class="card-body small">
                        <ul>
                            <li class="mb-1 small line-height-2">
                                <a href="https://www.baidu.com/" target="_blank">
                                    百度助你走向人生巅峰
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
{/block}


